In [2]:
import pandas as pd

# box_adv = pd.read_csv('data/box_adv.csv')
# games = pd.read_csv('data/games.csv')
# player_game_2022_23 = pd.read_csv('./nba-scraped-data/player_games/player_game_2022-23.csv')
# players = pd.read_csv('data/players.csv')
# shot = pd.read_csv('data/shot.csv')
# shots = pd.read_csv('data/shots.csv')
# team_games = pd.read_csv('data/team_games.csv')
# teams = pd.read_csv('data/teams.csv')

In [4]:
# season = "2022-23"
# for i,g in player_game_2022_23.groupby(['TEAM_ABBREVIATION']):
#     g.to_csv(f'./teams_{season}/{i}.csv')

In [29]:
seasons =  []

for i in range(10):
    first = 2022-i
    second= 23-i
    seasons.append('player_game_'+str(first)+'-'+str(second))

games_df =[]


for season in seasons:
    df = pd.read_csv(f'./nba-scraped-data/player_games/{season}.csv')
    games_df.append(df)

display(games_df[0].head())

   Unnamed: 0  SEASON_ID  PLAYER_ID    PLAYER_NAME     TEAM_ID  \
0           0      22022     203109    Jae Crowder  1610612749
1           1      22022    1628449  Chris Boucher  1610612761
2           2      22022    1627751   Jakob Poeltl  1610612761
3           3      22022    1626171   Bobby Portis  1610612749
4           4      22022     204060     Joe Ingles  1610612749

  TEAM_ABBREVIATION        TEAM_NAME   GAME_ID   GAME_DATE      MATCHUP WL  \
0               MIL  Milwaukee Bucks  22201221  2023-04-09    MIL @ TOR  L
1               TOR  Toronto Raptors  22201221  2023-04-09  TOR vs. MIL  W
2               TOR  Toronto Raptors  22201221  2023-04-09  TOR vs. MIL  W
3               MIL  Milwaukee Bucks  22201221  2023-04-09    MIL @ TOR  L
4               MIL  Milwaukee Bucks  22201221  2023-04-09    MIL @ TOR  L

   MIN  FGM  FGA  FG_PCT  FG3M  FG3A  FG3_PCT  FTM  FTA  FT_PCT  OREB  DREB  \
0   25    5   12   0.417     3     6      0.5    0    0     NaN     0     4
1   20    4    5   0.800     0     0      NaN    2    2     1.0     1     4
2   11    3    6   0.500     0     0      NaN    0    0     NaN     1     3
3   18    7   14   0.500     2     4      0.5    0    0     NaN     0     4
4   18    1    3   0.333     0     2      0.0    0    0     NaN     0     1

   REB  AST  STL  BLK  TOV  PF  PTS  PLUS_MINUS  FANTASY_PTS  VIDEO_AVAILABLE
0    4    6    2    0    0   1   13          -8         32.8                1
1    5    1    2    1    2   3   10           9         24.5                1
2    4    1    0    0    0   1    6           4         12.3                1
3    4    0    1    0    2   1   16         -14         21.8                1
4    1    6    0    0    1   0    2         -21         11.2                1

In [5]:
MIL = pd.read_csv('./teams_2022-23/MIL.csv')
team = MIL

In [6]:
# get all the names from the team
team.PLAYER_NAME.unique()

array(['Jae Crowder', 'Bobby Portis', 'Joe Ingles',
       'Thanasis Antetokounmpo', 'Wesley Matthews', 'Jevon Carter',
       'Lindell Wigginton', 'MarJon Beauchamp', 'Meyers Leonard',
       'Goran Dragic', 'AJ Green', 'Khris Middleton', 'Jrue Holiday',
       'Brook Lopez', 'Pat Connaughton', 'Giannis Antetokounmpo',
       'Grayson Allen', 'Sandro Mamukelashvili', 'George Hill',
       'Jordan Nwora', 'Serge Ibaka'], dtype=object)

In [26]:
# get player stats 

def get_player_stats(player,team):
    player_stats =  team.loc[team['PLAYER_NAME'] == player ]

    player_stats.sort_values(by='FANTASY_PTS',ascending=False)

    player_stats_refined = player_stats.drop(['SEASON_ID','PLAYER_ID','TEAM_ID','GAME_ID','VIDEO_AVAILABLE','Unnamed: 0','Unnamed: 0.1'],axis=1)

    pd.set_option('display.max_row',None)
    display(player_stats_refined.describe())

get_player_stats('Giannis Antetokounmpo',team)

,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,FANTASY_PTS
count,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,56.000000,63.000000,63.000000,61.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.00000
mean,32.158730,11.222222,20.285714,0.551032,0.746032,2.714286,0.293482,7.904762,12.253968,0.636098,2.174603,9.603175,11.777778,5.698413,0.825397,0.809524,3.904762,3.126984,31.095238,5.428571,54.77619
std,6.461315,4.371626,6.844891,0.141515,0.841816,1.878817,0.330226,3.958308,5.373076,0.161010,1.519122,3.722381,4.053849,2.860380,0.992548,0.930784,2.325970,1.550152,10.735402,15.271431,14.39714
min,6.000000,1.000000,4.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,2.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,-32.000000,10.80000
25%,30.000000,9.000000,16.500000,0.452500,0.000000,1.000000,0.000000,5.000000,9.000000,0.563000,1.000000,7.000000,9.000000,4.000000,0.000000,0.000000,2.500000,2.000000,25.000000,-6.000000,47.00000
50%,34.000000,11.000000,21.000000,0.556000,1.000000,3.000000,0.250000,8.000000,12.000000,0.667000,2.000000,9.000000,12.000000,5.000000,1.000000,1.000000,3.000000,3.000000,31.000000,10.000000,55.80000
75%,36.000000,14.000000,24.000000,0.636000,1.000000,4.000000,0.500000,10.000000,16.000000,0.727000,3.000000,12.000000,14.000000,7.000000,1.000000,1.000000,5.000000,4.000000,37.000000,16.500000,63.10000
max,46.000000,21.000000,39.000000,1.000000,3.000000,8.000000,1.000000,17.000000,24.000000,0.938000,7.000000,19.000000,22.000000,13.000000,5.000000,3.000000,12.000000,6.000000,55.000000,32.000000,79.90000

In [25]:
# get fantasy points of team

def get_fantasy_points_of_team(team):
    player_fantasy_points = team[['PLAYER_NAME','FANTASY_PTS']]
    grouped = (team.groupby('PLAYER_NAME')['FANTASY_PTS'].describe())
    display(len(grouped))
    display(grouped.sort_values(by='mean',ascending=False))

get_fantasy_points_of_team(team)

21

,count,mean,std,min,25%,50%,75%,max
PLAYER_NAME,,,,,,,,
Giannis Antetokounmpo,63.0,54.776190,14.397140,10.8,47.000,55.80,63.100,79.9
Jrue Holiday,67.0,38.159701,12.179293,4.2,31.150,36.80,47.150,72.6
Brook Lopez,78.0,33.262821,12.353044,4.9,25.050,33.40,40.550,68.5
Bobby Portis,70.0,28.641429,9.906263,5.6,22.000,28.70,35.675,48.0
Khris Middleton,33.0,27.954545,11.708066,0.0,24.000,29.70,34.800,49.1
Grayson Allen,72.0,19.929167,8.627755,6.2,13.325,19.50,25.975,43.9
Jevon Carter,81.0,17.233333,10.495654,-1.0,10.200,15.20,24.400,56.8
Pat Connaughton,61.0,16.919672,8.530256,0.0,11.100,16.90,21.800,41.4
Joe Ingles,46.0,16.469565,8.200566,2.2,11.325,15.65,21.550,37.2
Jae Crowder,18.0,16.350000,10.286384,4.2,8.000,14.20,25.775,33.0
George Hill,35.0,12.225714,7.232661,0.0,6.850,12.20,16.200,29.9
Jordan Nwora,38.0,11.826316,7.671100,0.0,6.375,10.45,16.775,29.1
Lindell Wigginton,7.0,10.485714,16.601348,0.0,1.250,2.00,11.700,45.5
Goran Dragic,7.0,10.057143,9.346810,0.0,2.750,6.70,17.000,24.2
MarJon Beauchamp,52.0,9.528846,9.162035,-1.0,2.150,7.50,14.425,35.2
Meyers Leonard,9.0,9.477778,8.782906,1.2,3.000,4.40,14.200,27.9
Serge Ibaka,16.0,8.800000,7.393601,-2.0,3.800,8.50,12.875,22.2
Wesley Matthews,52.0,8.588462,6.330123,-1.0,3.650,7.65,9.975,25.6
AJ Green,35.0,7.142857,6.537372,-0.8,1.300,4.80,11.850,19.6
Sandro Mamukelashvili,24.0,6.925000,6.722011,-1.0,2.000,4.30,11.350,22.2
Thanasis Antetokounmpo,37.0,3.575676,5.996036,-1.0,0.000,1.50,4.200,26.6